.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em 3em 1em 0;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}



