.cabecalho__menu--hamburguer {
    background-image: url(../../../images/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 32px;
    width: 32px;
}
