.quem-somos__descricao {
    color: var(--marrom-claro);
    font-size: var(--fs-2);
}

@media screen and (min-width: 1024px) {
    .quem-somos__descricao {
        font-size: var(--fs-3);
    }
}

@media screen and (min-width: 1728px) {
    .quem-somos__descricao {
        font-size: var(--fs-4);
    }
}