.sobre__descricao {
    color: var(--marrom-claro);
    font-size: var(--fs-1);
    padding: 2.5rem 0;
}

@media screen and (min-width: 1024px) {
    .sobre__descricao {
        font-size: var(--fs-4);
        padding: 3rem 2rem;
    }
}

@media screen and (min-width: 1728px) {
    .sobre__descricao {
        font-size: var(--fs-4);
    }
}