.receita {
    background: var(--verde-claro);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
    .receita {
        margin-left: 5.7rem;
        width: calc(40% - 3rem);
    }
}

@media screen and (min-width: 1728px) {
    .receita {
        margin-bottom: 7rem;
        margin-right: 7rem;
        width: calc(25% - 7rem);
    }
}