.receita__titulo {
    font-size: var(--fs-3);
    font-weight: var(--fw-regular);
    color: var(--marrom-escuro);
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1728px) {
}