.receita__botao {
    text-decoration: none;
    color: var(--branco);
    background-color: var(--marrom-claro);
    border-radius: 8px;
    padding: 0.5rem;
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1728px) {
    .receita__botao {
        transition: all .3s ease-in-out;
    }
    
    .receita__botao:hover {
        cursor: pointer;
        background-color: var(--marrom-escuro);
    }
}