@import url(./header/cabecalho/cabecalho.css);
@import url(./header/cabecalho/cabecalho-menu.css);
@import url(./header/cabecalho/cabecalho-menu-hamburguer.css);
@import url(./header/menu/lista-menu.css);
@import url(./header/menu/lista-menu-item.css);
@import url(./header/menu/lista-menu-link.css);
@import url(./main/banner/banner.css);
@import url(./main/banner/banner-imagem.css);
@import url(./main/banner/banner-titulo.css);
@import url(./main/sobre/sobre.css);
@import url(./main/sobre/sobre-titulo.css);
@import url(./main/sobre/sobre-descricao.css);
@import url(./main/receitas/receitas.css);
@import url(./main/receitas/receita.css);
@import url(./main/receitas/receita__imagem.css);
@import url(./main/receitas/receita-conteudo.css);
@import url(./main/receitas/receita-titulo.css);
@import url(./main/receitas/receita-descricao.css);
@import url(./main/receitas/receita-botao.css);
@import url(./main/quemSomos/quemSomos.css);
@import url(./main/quemSomos/quemSomos-titulo.css);
@import url(./main/quemSomos/quemSomos-descricao.css);
@import url(./main/pessoas/pessoas.css);
@import url(./main/pessoas/pessoa.css);
@import url(./main/pessoas/pessoa-nome.css);
@import url(./main/pessoas/pessoa-imagem.css);
@import url(./main/pessoas/pessoa-funcao.css);


:root {
    --verde-claro: #C3D1A3;
    --verde-escuro: #90A46D;
    --marrom-claro: #877B61;
    --marrom-escuro: #502A2B;
    --branco: #FDFDFD;
    --sombra: #000000;

    --ff-roboto: 'Roboto', sans-serif;
    --ff-pacifico: 'Pacifico', cursive;

    --fw-bold: 700;
    --fw-regular: 400;
    --fw-light: 300;

    --fs-1: 18px;
    --fs-2: 19px;
    --fs-3: 23px;
    --fs-4: 28px;
    --fs-5: 32px;
    --fs-6: 51px;
    --fs-7: 64px;
}

body {
    background-color: var(--verde-claro);
    font-family: var(--ff-roboto);
    font-weight: var(--fw-light);
    font-size: var(--fs-1);
}
