.pessoa__imagem {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pessoa__imagem--david {
    background-image: url(../../../images/profiles/david.svg);
}

.pessoa__imagem--robertinho {
    background-image: url(../../../images/profiles/robertinho.svg);
}

.pessoa__imagem--andreia {
    background-image: url(../../../images/profiles/andreia.svg);
}

@media screen and (min-width: 1024px) {
    .pessoa__imagem {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1728px) {
    .pessoa__imagem {
        width: 300px;
        height: 300px;
    }
}